<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div style="text-align:center">
        <h3><%= pageTitle %></h3>
    </div>
</body>
<%- include('../includes/end.ejs') %>